@use 'base/variables' as v;
@use 'base/mixins' as m;


.alertas{
    padding: 1rem 1rem 1rem 2rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 1rem;
    font-size:1.5rem;
    max-width: 80rem;
    
    

&.error{
    background-color: lighten($color: v.$rosa, $amount: 30);
    border-left: 2rem solid v.$rojo;
    padding-left: 1rem;
    color:v.$rojo;
}

&.exito{
    background-color: lighten($color: v.$verde, $amount: 30);
    border-left: 2rem solid v.$verde;
    padding-left: 1rem;
    color:v.$negro;
}

}