@use 'base/variables' as v;
@use 'base/mixins' as m;

.olvide{

   
    .workscape{
       @include m.textoDegradado(v.$naranja,v.$gris);
    
        
    }
    input[type="submit"] {
  
        background: linear-gradient(
          to right,
          v.$naranja 40%,
          lighten(v.$gris, 30%) 100%
        );
        color: white; 
        border: none;
        padding: 1rem 2rem;
        font-size: 1.6rem;
        cursor: pointer;
        border-radius: 0.5rem;
      

        transition: background 0.3s ease;
      
        &:hover {
          background: linear-gradient(
            to right,
            lighten(v.$naranja, 10%) 40%,
            lighten(v.$gris, 40%) 100%
          );
        }
      }
      .acciones{
        a{
            color:v.$naranja;
        }
      }
    
    }
