@use 'base/variables' as v;
@use 'base/mixins' as m;

.reestablecer{

    margin-top: 5rem;
    .workscape{
       @include m.textoDegradado(v.$indigo,v.$grisOscuro);
    
        
    }
    input[type="submit"] {
  
        background: linear-gradient(
          to right,
          v.$indigo 40%,
          lighten(v.$grisOscuro, 30%) 100%
        );
        color: white; 
        border: none;
        padding: 1rem 2rem;
        font-size: 1.6rem;
        cursor: pointer;
        border-radius: 0.5rem;
      
      
        transition: background 0.3s ease;
      
        &:hover {
          background: linear-gradient(
            to right,
            lighten(v.$indigo, 10%) 40%,
            lighten(v.$grisOscuro, 40%) 100%
          );
        }
      }
      .acciones{
        a{
            color:v.$indigo;
        }
      }
    
    }
