@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar {
    opacity: 0;
    background-color: v.$indigo;
    background-image: url('../tarea1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    background-attachment: local;
    transition: opacity 500ms;

   
    .contenedor-sidebar{
        display: flex;
        justify-content: space-between;
        align-items: center;
 h2 {
        color: v.$blanco;
        margin: 0;
        text-align: center;
        padding: 1rem ;
    }
    .cerrar-menu{
        display: flex;
        justify-content: center;
        height: 2rem;
        width: 2rem;
        @include m.tablet{
            display: none;
        }
        img{

            &:hover{
                cursor: pointer;
            }
        }

    }
}

    .sidebar-nav {
        margin-top: 15rem;

        @include m.telefono {
            margin-top: 20rem;
            font-size: 2.4rem;
            margin-bottom: 2rem;
            text-align: center;
        }

        a {
            color: v.$blanco;
            display: block;
            margin: 2rem;
            padding: .7rem;
            transition: background-color 300ms;

            &:hover,
            &.activo {
                background-color: darken(v.$indigo, 20%);
                border-radius: .5rem;
            }
        }
    }

    &.mostrar {
        opacity: 1;

        @include m.telefono {
            padding: 2rem;
            height:100%;
            
            position:fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(39, 40, 40);
        }
    }

    // Se asegura que en tablet y superior SIEMPRE se muestre
    @include m.tablet {
        opacity: 1;
    }

    @include m.telefono {
        height: 0;
        overflow: hidden;
    }

    .cerrar-sesion-mobile{
        margin-top: 10rem;
        .cerrar-sesion{
            @include m.boton(v.$indigo,v.$blanco);
        }

    @include m.tablet{
        display: none;
    }
    }
}
